{% macro displayNewsList(news_list) %}

  {% for news in news_list %}
    <a href="{{news.url}}"></a>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 ">
      <img src="{{news.urlToImage}}" alt="">
      <p>{{news.description}}</p>
      <h3>{{news.publishedAt}}</h3>
    </div>

    <!-- source = news_article.get('source')
        source_name = source.get('name')
        source_url= news_article.get('url')
        author_name=news_article.get('author')
        imageUrl= news_article.get('urlToImage')
        description=news_article.get('description')
        article=news_article.get('content')
        timeOfCreation=news_article.get('publishedAt')
        news_article = News(source_name,source_url,author_name,imageUrl,description,article,timeOfCreation)
        news_articles.append(news_article) -->
